{% extends 'admin_site/base.html' %}
{% load static %}

{% block title %}Orders | Essiniya{% endblock %}

{% block sidebar %}
	{% with current_tab='orders' %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block heading %}
	{% with current_page="Orders" %}
		{{ block.super }}
	{% endwith %}
{% endblock %}


{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Orders</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800" id="orders-length"></div>
					  		</div>
							<div class="col-auto">
								<i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="orders-container" class="container-fluid">
				
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	{% include 'libraries/handlebars.html' %}
	<script src="{% static 'admin_site/js/orders.js' %}"></script>
{% endblock %}